<div class="wrapper">
  <div class="main">

    <div class="login">
      <form class="form-cont">
        <h1>Connexion</h1>
        <input type="text" placeholder="Email" id="email_log">
        <input type="password" placeholder="Mot de passe" id="password_log">

        <input type="submit" value="S'identifier">
      </form>
    </div> <!--end of login div-->

    <div class="register">
      <form action="" class="form-cont">
        <h1>Créez un compte</h1>
        <input type="text" placeholder="Nom" id="nom">
        <input type="text" placeholder="Prenom" id="prenom">
        <input type="email" placeholder="Email" id="email_reg">
        <input type="password" placeholder="Mot de passe" id="password_reg">

        <input type="submit" value="Créer votre compte">
      </form>
    </div><!--end of register div-->
  </div>

</div>
