@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Raleway:wght@300&display=swap');

header {
  display: flex;
  justify-content: space-between;
  background-color: #505f34;
  color: #f9f9f8;
  padding: 12px;
  font-family: 'Black Ops One', cursive;
}

header a {
  text-decoration: none;
  color: #f9f9f8;
  font-size: 32px;
}
