footer {
  heigth: 200px;
  width: 100%;
  background-color: #21201e;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-top a {
  padding: 12px;
}

.footer-bar {
  border-top: 1px solid;
  color: #c5a881;
  padding: 12px 0 12px 0;
  width: 80%;
  margin: 0 auto;
}

.footer-bottom {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.footer-bottom a {
  text-decoration: none;
  color: #c5a881;
}
